@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro'), url(./GTWalsheimPro-Medium.woff) format('woff');
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: 'GT Walsheim Pro';
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
  font-family: 'GT Walsheim Pro';
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  background: #f0e3ff;
  font-family: 'GT Walsheim Pro';
  /* box-shadow: inset 0 50px 70px rgba(216, 147, 18, 0.9); */
}

.product-list {
  padding: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  padding: 10px;
}